// Colors
$primary-color: #191919;
$secondary-color: #FF785A;
$tertiary-color: #FFAA5A;


// Fonts
$logo-font: 'Plaster', sans-serif;
$primary-font: 'Rubik', sans-serif;

// Font Sizes
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2.5rem;
$font-xl: 4rem;

// Spacing
// Font Sizes
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;
$spacing-xl: 4rem;

