@import url("https://fonts.googleapis.com/css2?family=Plaster&family=Rubik:wght@300;400;500&display=swap");
@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("../../../../public/assets/fonts/Fantasque.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

p {
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 1365px) {
  .sidebar {
    align-items: center;
  }
  .sidebar .logo {
    font-size: 2.5rem;
    padding: 0 0.5rem;
  }
  .sidebar nav ul {
    display: flex;
  }
  .sidebar nav ul li {
    padding: 0 0.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .sidebar {
    height: 100vh;
    width: 7%;
    background-color: #FFAA5A;
    position: fixed;
    grid-area: sidebar;
    flex-direction: column;
  }
  .sidebar .logo {
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }
  .sidebar nav ul {
    flex-direction: column;
  }
  .sidebar nav ul li {
    padding-bottom: 1.5rem;
  }
  .sidebar nav ul li a {
    transition: 0.3s all ease-in-out;
  }
  .sidebar nav ul li a:hover {
    color: #FF785A;
    text-shadow: 2px 2px #191919;
  }
}
.sidebar {
  background-color: #FFAA5A;
  display: flex;
  justify-content: space-between;
}
.sidebar .logo {
  font-family: "Plaster", sans-serif;
  color: #191919;
}
.sidebar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar nav ul li a {
  color: #191919;
  font-size: 1.5rem;
}

@media screen and (max-width: 1440px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
.main-container {
  width: 100%;
  height: 100vh;
  background-color: #191919;
}

@media screen and (min-width: 1366px) {
  .main-container {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: "sidebar content";
  }
}
@media screen and (max-width: 1365px) {
  .content .text {
    width: 100%;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .content {
    grid-area: content;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .text {
    width: 600px;
    text-align: center;
  }
  .content .text h1, .content .text h2 {
    color: #FFAA5A;
  }
  .content .text p {
    color: #FFF;
    margin-top: 1.5rem;
  }
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .text {
  text-align: center;
}
.content .text h1, .content .text h2 {
  color: #FFAA5A;
}
.content .text p {
  color: #FFF;
  margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .rounded-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .rounded-image {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    margin: 1.5rem;
  }
}
h1 {
  font-family: "Fantasque Sans Mono", monospace;
  font-size: 2.5rem;
}

h2 {
  font-family: "Fantasque Sans Mono", monospace;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
